services:
  nginx:
    image: nginx
    container_name: nginx
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/:/etc/nginx/:ro
    depends_on:
      - ollama

  ollama:
    image: ollama/ollama:rocm
    restart: unless-stopped
    container_name: ollama
    ports:
      - 11434:11434
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - onyx_default

networks:
  onyx_default:
    external: true

volumes:
  ollama_data:
