[branch "master"]
	remote = origin
	merge = refs/heads/master
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = white bold
[init]
	defaultBranch = master
[core]
	hooksPath = ~/.githooks
	pager = delta
	fsmonitor = true
[user]
	email = jamison@lahman.dev
	name = Jamison Lahman
	signingkey = ~/.ssh/id_rsa.pub
[alias]
   mylog = log --author="jamison@lahman.dev" --oneline --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[gpg]
	format = ssh
[commit]
	gpgsign = true
[branch]
	sort = -committerdate
[push]
	default = current
[fetch]
	prune = true
	writeCommitGraph = true
[pull]
	rebase = true
[rebase]
	autostash = true
	updateRefs = true
[rerere]
	enabled = true
[lfs]
	locksverify = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = true
	syntax-theme = Coldark-Dark
	hyperlinks = true
	wrap-max-lines = 0
	tabs = 2
	blame-palette = "#000000 #111111 #222222"
	file-style = omit
	hunk-header-style = file syntax
	hunk-header-decoration-style = ul blue
[difftool]
	prompt = false
[diff]
	tool = kitty
[difftool "kitty"]
	cmd = kitty +kitten diff \"$LOCAL\" \"$REMOTE\"
[difftool "sqlite3"]
	cmd = sqldiff \"$LOCAL\" \"$REMOTE\"
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.dotfiles/.gitconfig
[maintenance]
	repo = ~/.dotfiles
	repo = ~/code/monorepo
	auto = false
	strategy = incremental
[advice]
	skippedCherryPicks = false
[extensions]
	worktreeConfig = true
[notes]
	rewriteRef = refs/notes/metrics
