[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = white bold
[user]
  email = jamison@lahman.dev
  name = Jamison Lahman
[push]
  default = current
[pull]
  rebase = true
