pkgbase = python-e3-testsuite
	pkgdesc = Generic Testsuite Driver in Python
	pkgver = 27.2
	pkgrel = 1
	url = https://github.com/AdaCore/e3-testsuite
	arch = any
	license = GPL3
	makedepends = python-setuptools
	depends = python-e3-core
	source = https://files.pythonhosted.org/packages/47/14/f23d2c2228617bd48787fedc31aa2d5aa20e8479224a14189e0ea728314b/e3_testsuite-27.2.tar.gz
	sha256sums = 56ee377c89766619afb703d73ccdc6218a23b60c2fdf7ce1ff7b4a36f954c3f4

pkgname = python-e3-testsuite
