# Build
## Mypy Integration
build:mypy --aspects @mypy_integration//:mypy.bzl%mypy_aspect
build:mypy --output_groups=+mypy

## Sandboxing
build --spawn_strategy=sandboxed
build --worker_sandboxing

# Test
test --test_output=errors
