go 1.27

use (
	./agentic-kanban
	./agilecbt
	./check-symlinks
	./chui
	./connections
	./connections-ssh
	./cycle-cli
	./cycle-lights
	./dashboard
	./docker-status
	./git-orchard
	./go-pre-commit-hooks
	./heart-lights
	./jview
	./nature-sounds
	./pkglint
	./runtainer
	./smart-lights
	./typesafe-sdk-go
	./work
)
