go 1.25.3

use (
	./check-symlinks
	./chui
	./connections
	./connections-ssh
	./cycle-cli
	./cycle-lights
	./dashboard
	./heart-lights
	./docker-status
	./git-orchard
	./jview
	./kanban
	./nature-sounds
	./runtainer
	./smart-lights
	./tag
	./work
)
