[build-system]
requires = ["hatchling", "hatch-vcs", "go-bin~=1.23", "manygo"]
build-backend = "hatchling.build"

[project]
name = "work-bin"
description = "A stupid simple time tracker"
license = {file = "LICENSE"}
authors = [{ name = "Jamison Lahman", email = "jamison@lahman.dev" }]
readme = "README.md"
requires-python = ">=3.6"
keywords = [
  "time-tracker", "time-management", "time",
]
classifiers = [
    "Programming Language :: Go",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dynamic = ["version"]


[project.urls]
Repository = "https://github.com/jmelahman/work"

[tool.hatch.build]
include = ["go.mod", "go.sum", "**/*.go"]

[tool.hatch.version]
source = "vcs"

[tool.hatch.build.hooks.custom]
binary_name = "work"
