[isort]
# Google config: https://pycqa.github.io/isort/docs/configuration/profiles.html#google
force_sort_within_sections=true
lexicographical=true
single_line_exclusions='typing'
order_by_type=false
group_by_package=true

# Black config: https://pycqa.github.io/isort/docs/configuration/profiles.html#black
multi_line_output=3
include_trailing_comma=true
force_grid_wrap=0
use_parentheses=true
ensure_newline_before_comments=true
line_length=100
split_on_trailing_comma=true
