[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "manygo"
description = "Python library with helpers for packaging golang source code"
readme = "README.md"
requires-python = ">=3.9"
license = "MIT"
authors = [
    { name = "Jamison Lahman", email = "jamison@lahman.dev" }
]
keywords = ["golang", "packaging", "platform-tags"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
dynamic = ["version"]

[tool.hatch.version]
source = "vcs"
