.App {
  height: 100vh;
}
.castle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.castle__layout {
  height: 70%;
  background-color: green;
  display: flex;
  flex-direction: column;
}
.castle__layout .row {
  max-height: 33%;
  justify-content: space-around;
}
.building {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 8px 16px;
  background-color: azure;
  max-width: 400px;
}
.placeholder {
  overflow: hidden;
  display: flex;
  flex: 1;
}
.building__image {
  display: inline-block;
  width: 100%;
  object-fit: cover;
}
.title {
  justify-content: center;
  display: flex;
  background-color: indigo;
}
.dashboard {
  background-color: orange;
  display: flex;
  flex: 1;
}
.dashboard__left {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: yellow;
}
.dashboard__right {
  width: 200px;
  display: flex;
}
.party {
  display: flex;
  flex: 1;
}
.hero {
  display: flex;
  flex: 1;
}
.hero:nth-child(1) {
  background-color: rgba(0,0,255,0.2);
}
.hero:nth-child(2) {
  background-color: rgba(0,255,0,0.2);
}
.hero:nth-child(3) {
  background-color: rgba(255,0,0,0.2);
}
.resources {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: black;
  padding: 4px;
}
.resource {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 4px;
  align-items: center;
}
.resource__icon {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
  width: 48px;
}
.row {
  display: flex;
  flex: 1;
}
.wood {
  background-color: brown;
}
.sulfur {
  background-color: yellow;
}
.crystal {
  background-color: red;
}
.mercury {
  background-color: gray;
}
.ore {
  background-color: darkgray;
}
.gems {
  background-color: turquoise;
}
.gold {
  background-color: gold;
}