<!DOCTYPE html>
<html>
<head>
    <title>Lab Status</title>
    <meta charset="utf-8">
    <meta name="description" content="A simple status page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="max-age=604800">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/stylesheet.min.css') }}">
</head>
<body>
    <main id="main">
        {% if ssh_status %}
        <p>Status: online</p>
        {% else %}
        <p>Status: offline</p>
        {% endif %}
        <img src="data:image/png;base64,{{ ssh_plot_uri }}">
    </main>
</body>
</html>
