<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lab Status</title>
    <meta charset="utf-8">
    <meta name="description" content="A simple status page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="max-age=604800">
    <meta name="theme-color" content="#00C6FF" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/stylesheet.min.css') }}">
</head>

<body>
    <main id="main">
        {% if ssh_status %}
        <p>Status: online</p>
        {% else %}
        <p>Status: offline</p>
        {% endif %}
        {% if ssh_plot_uri %}
        <img alt="Uptime percent: {{ uptime_percent }}" width="640" height="480"
            src="data:image/png;base64,{{ ssh_plot_uri }}">
        {% endif %}
        <script>
            var agentsQueue = [];
            var jobsQueue = [];
            Plotly.newPlot('agents-plot', [{
                agentsQueue,
                type: 'line'
            }]);
            Plotly.newPlot('jobs-plot', [{
                jobsQueue,
                type: 'line'
            }]);
            setInterval(function () {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/data', true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        var splitData = xhr.responseText.split(',')
                        agentsQueue = splitData[0].split(" ").map(function (num) {
                            return parseInt(num);
                        });
                        jobsQueue = splitData[1].split(" ").map(function (num) {
                            return parseInt(num);
                        });
                        Plotly.update('agents-plot', { y: [agentsQueue] });
                        Plotly.update('jobs-plot', { y: [jobsQueue] });
                    }
                };
                xhr.send();
            }, 1000);  // 15s
        </script>
    </main>
</body>

</html>