@page {
  margin: 0.5in 0;
}
* {
  box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100%;
}
body {
  margin: auto !important;
  max-width: 80ch;
  min-height: 100%;
  padding: 0.67em 4ch;
}
h1, h2, h3, h4, h5, h6, hr {
  margin: 0px;
  padding: 0px;
}
em {
  opacity: 0.8;
  font-size: 75%;
  font-style: normal;
  font-weight: 400;
}
hr {
  margin-bottom: 16px
}
td {
  vertical-align: top;
}
tr:nth-child(even) {
  position: relative;
  top: -10px;
}
li {
  margin-bottom: 8px;
}
.subtitle {
  font-size: 80%;
  margin-bottom: 8px;
  position: relative;
  top: -12px;
}
#objective {
  margin-top: 32px;
}
