html {
  background-image: radial-gradient(ellipse at 50% 40%, #006, #000);
  color: #f4f4f4;
}
body {
  background: rgba(0, 0, 0, .40) no-repeat fixed center;
}
h1, h2, h3, h4, h5, h6, hr {
  color: #00c6ff;
}
em {
  color: #f4f4f4;
}
