* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Helvetica', 'Calibri', sans-serif;
  color: #f4f4f4;
  padding: 0;
  margin: 0;
  background-image: radial-gradient(ellipse at 50% 40%, #006, #000);
  background-image: -webkit-radial-gradient(ellipse at 50% 40%, #008, #000);
  background-image: -moz-radial-gradient(ellipse at 50% 40%, #008, #000);
  background-image: -o-radial-gradient(ellipse at 50% 40%, #008, #000);
  background-image: -ms-radial-gradient(ellipse at 50% 40%, #008, #000);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  min-height: 100vh;
  max-height: 100vh;
  padding: 0.67em 4ch 0 4ch;
  height: auto;
}

@media screen and (max-width: 620px) {
  main {
    padding: 0.67em 2ch 0 2ch;
  }
}

