<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat GPT</title>
    <meta charset="utf-8">
    <meta name="description" content="A simple GPT chat application">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="max-age=604800">
    <meta name="theme-color" content="#00C6FF"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/dot-flashing.css') }}">
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</head>
<body>
    <main id="main">
        <div>
            <input id="user-input" type="text">
            <button onclick="updatePage(document.getElementById('user-input').value)">Submit</button>
        </div>
        <div id="loading" class="dot-flashing"></div>
        <div>
            <span id="result"></span>
        </div>
    </main>
</body>
</html>
